<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.hyl.houylbaseprojects">

    <!-- aidl 权限声明并使用-->
    <permission
        android:name="com.base.hyl.houylbaseprojects.permission"
        android:protectionLevel="normal"></permission>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.base.hyl.houylbaseprojects.permission"></uses-permission>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" />
        <activity
            android:name=".Main2Activity"
            android:theme="@style/NoTitleDialog" />
        <activity android:name=".textview.TextViewActivity" />
        <activity android:name=".web.WebActivity" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <!-- <service -->
        <!-- android:process=":remote" -->
        <!-- android:name="com.base.hyl.houylbaseprojects.server.MyService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="co.example.leo.myService"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service
            android:name=".aidl.LibraryService"
            android:enabled="true"
            android:exported="true"
            android:process=":romote" />
        <!-- aidl 测试 -->
        <service
            android:name=".aidl.BookManagerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <!-- messenger 开一个 进程 -->
        <service
            android:name=".messenger.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".messenger.MessengerActivity" />
        <!-- 添加下载测试-->
        <activity android:name=".xiazai.activity.LiveCacheActivity" />
        <activity
            android:name=".aidl.BookManagerActivity"
            android:label="@string/title_activity_book_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.base.hyl.houylbaseprojects.databing.msgBase.MsgBaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rukou.MainEntranceActivity"
            android:label="@string/title_activity_main_entrance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities=".ContentProvider.BookProvider"
            android:name="com"
            android:process=":provider"></provider>

        <receiver android:name=".broadcastReceiver.PlayMusicReceiver">
            <intent-filter>
                <action android:name="android.service.notification.playandpause" />
                <action android:name="android.service.notification.close" />
            </intent-filter>
        </receiver>

    </application>

</manifest>